.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
.git
*.sqlite3
*.md
.eslintrc*
.prettier*
.env*

# next.js
.next/
node_modules/
